VITE_GAS_URL=your_gas_deployment_url_here
VITE_PASS_THRESHOLD=5
VITE_QUESTION_COUNT=10
VITE_AFFECTION_PER_CORRECT=12
VITE_AFFECTION_PER_WRONG=-5
VITE_COMBO_BONUS=10
VITE_PASS_BONUS=20
VITE_CONFESSION_THRESHOLD=80
